* {
    margin:0;
}

body{
    background-color: rgb(42, 39, 36);
}

.page {
    width: 480px;
    padding: 0 40px;
    box-sizing: border-box;
    margin: 50px auto;

}


/* HEADER */
.header{
    display: block;
    width: auto;
    background-color: rgb(109, 82, 27);
    border-radius: 40px;
    padding: 10px 20px;
}

.header * {
}

.main-button-containers{
    display: flex;
    gap: 10px;
}

.main-button-containers * {
    height: 40px;
    width: 40px;
}

.grid-container {
    background-color: rgb(109, 111, 114);
    width: auto;
    height: 400px; 
    box-sizing: border-box;
    box-shadow: 3px 3px 10px rgb(90, 123, 138);
    display: flex;
    flex-wrap: wrap;
}


/* main buttons */

#rainbow {
    background-image: linear-gradient(-45deg, red, orange, yellow, green, blue);
    border-radius: 50%;
}

#eraser {
    background-color: white;
}

#pixel {
    background-color: red;
}


#opacity {
    background-image: linear-gradient(-45deg, rgb(48, 48, 48) 50%, rgb(174, 174, 174) 50%);
    border-radius: 50%;
    border: 2px solid rgb(132, 132, 132);
}

#color {
    background-color: red;
}

/* indicators */
.indicators-container * {
    margin: 0 10px;
}

#slider-container{
    display: none;
    height: auto;
    width: 200px;
    position: relative;
    left: -90px;
    top: -20px;
    transition: 1s;
}

#current-pxl {
    position: relative;
    top: -5px;
    display: block;
    border-radius: 5px;;
    border: 1.5px solid black;
    color: black;
    background-color: white;
    font-size: 9px;
    width: 25px;
    height: 10px;
    margin: 0 auto;
}

#pxl-slider{
    display: block;
    position: absolute;
    width: auto;
    top: 30px;
    left: 37px;
}




/* SVG files */
#Layer_1 {
    height: auto;
    width: 200px;
}
.st0 {
    display: inline;
    fill: rgb(43, 48, 63);
    stroke: rgb(75, 105, 118);
    stroke-width: 1.5px;;
    width: 200px;
    height: 200px;
    
}


@media (min-width: 768px) {
    .page{
        width: 700px;
    }

    .grid-container {
        height: 620px;
    }
    
    .header {
        display: inline-block;
    }
}

/* input range styling test */
input[type='range']
{
    -webkit-appearance: none;
    cursor: pointer;
    appearance: none;
    background: transparent;
}

input[type='range']::-webkit-slider-runnable-track {
    background: rgb(0, 238, 255);
    height: 5px;
    border-radius: 90px;
}

input[type='range']::-webkit-slider-thumb {
    margin-top: -5px;
}