:root {
    font-size: 1px;
    --icon-size: 30rem;
    --main-color: rgb(27, 28, 28);
    --secondary-color: rgb(109, 82, 27);
    --highlight-border: rgb(75, 105, 118);
    --highlight-strong: rgb(0, 238, 255);
    --dark-button-fill: rgb(43, 48, 63);
}

* {
    margin: 0;
}

body {
    background-color: var(--main-color);
}

.page {
    width: 480px;
    padding: 0 40px;
    box-sizing: border-box;
    margin: 50px auto;

}


/* HEADER */
.header {
    display: flex;
    width: auto;
    background-color: var(--dark-button-fill);
    border-radius: 40px;
    padding: 10px 20px;
    border: 1px solid var(--highlight-border);
    margin: 5rem 0;
    justify-content: center;
}

.main-button-containers {
    display: flex;
    gap: 10px;
}

.main-button-containers * {
    height: var(--icon-size);
    width: var(--icon-size);
    box-sizing: border-box;
}

.grid-container {
    background-color: rgb(255, 255, 255);
    width: auto;
    height: 400px;
    box-sizing: border-box;
    box-shadow: 3px 3px 10px rgb(22, 22, 22);
    display: flex;
    flex-wrap: wrap;
}


/* main buttons */

#rainbow {
    background-image: linear-gradient(-45deg, red, orange, yellow, green, blue);
    border-radius: 50%;
    border: 2px solid var(--highlight-border)
}

#opacity {
    background-image: linear-gradient(-45deg, rgb(48, 48, 48) 50%, rgb(174, 174, 174) 50%);
    border-radius: 50%;
    border: 2px solid var(--highlight-border);
}

#color {
    background-color: red;
    border-radius: 50%;
    border: 2px solid var(--highlight-border);
}

.new-canvas-container {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#new-canvas-button {
    width: auto;
    height: auto;
    padding: 8px;
    transition: 0.1s;
    background-color: var(--dark-button-fill);
    color: var(--highlight-strong);
    border-radius: 7px;
    border: 1.5px solid var(--highlight-border);
}

#new-canvas-button:hover {
    background-color: var(--highlight-strong);
    color: var(--dark-button-fill);
    border: 1.5px solid var(--highlight-border)
}

#new-canvas-button:active {
    transform: scale(0.95);
}

/* indicators */
.indicators-container * {
    margin: 0 10px;
}

#slider-container,
#slider-container-opc {
    display: none;
    height: auto;
    width: 200px;
    position: relative;
    left: -86px;
    top: -40px;
    pointer-events: none;
}

#slider-container-opc {
    top: -23rem;
}

#current-pxl,
#opacity-text {
    position: relative;
    top: -5px;
    display: block;
    border-radius: 5px;
    background-color: var(--dark-button-fill);
    border: 1.5px solid var(--highlight-border);
    color: var(--highlight-strong);
    font-size: 9px;
    width: 36rem;
    height: 13rem;
    text-align: center;
    margin-left: -3rem;
}



#eraser-indicator,
#color-indicator,
#rainbow-indicator {
    height: 8rem;
    width: 8rem;
    background-color: var(--highlight-strong);
    border-radius: 50%;
    margin: 0 auto;
    display: none;
}



/* SVG files */
#Layer_1,
#Layer_2 {
    height: auto;
    width: 200px;
}

#slider-container:hover {
    display: none;
}

.svg-pxl-slider,
.svg-opc-slider {
    display: inline;
    fill: var(--dark-button-fill);
    stroke: var(--highlight-border);
    stroke-width: 1.5px;
    ;
    width: 200px;
    pointer-events: none;
    height: 200px;
}

#pxl-slider,
#opc-slider {
    display: block;
    position: absolute;
    width: auto;
    top: 35px;
    left: 37px;
    z-index: 3;
    pointer-events: visible;
}

.st0,
.st1,
.st2,
#a,
svg,
svg * {
    pointer-events: none;
}



@media (min-width: 768px) {
    .page {
        width: 700px;
    }

    .grid-container {
        height: 620px;
    }

    .header {
        display: inline-block;
    }
}

/* input range styling test */
input[type='range'] {
    -webkit-appearance: none;
    cursor: pointer;
    appearance: none;
    background: transparent;
}

input[type='range']::-webkit-slider-runnable-track {
    background: var(--highlight-strong);
    height: 5px;
    border-radius: 90px;
}

input[type='range']::-webkit-slider-thumb {
    margin-top: -5px;
}


#color {
    -webkit-appearance: none;
    box-sizing: border-box;
    width: var(--icon-size);
    height: var(--icon-size);
    border-radius: 50%;
    background-color: transparent;
 }

#color::-webkit-color-swatch {
    box-sizing: border-box;
    padding: auto;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    position: relative;
    left: -1.35rem;
    top: -0.5rem;
}

#color::-webkit-color-swatch-wrapper {
    padding: 0;
    border: none;
    width: 25.5rem;
    height: 25.5rem;
}